@charset "utf-8";

body{
  margin: 0;
}

h1{
  margin: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-bottom: 1px solid gray;
  padding-bottom: 8px;
  font-size: 20px;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.container{
  width: 400px;
  margin: 16px auto;
}

li{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 16px;
}

/* liの中のinputがcheckされたときに、spanに対してセンをつける */
/* spanの内、直前の兄弟要素がli input:checkedのものに対してのスタイル */
li input:checked + span{
  color: #aaa;
  text-decoration: line-through;
}

form{
  display: flex;
  margin-top: 16px;
}

/* flex-growの短縮形、flexboxの余白をすべてinputに持ってくる */
form input{
  flex: 1;
}

